*{
    margin: 0;
    padding: 0;
    /* text-decoration:none; */
}
.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 30px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(151, 187, 23);
    position: fixed;
    width:100%;
    z-index:1000;
}
.logo a{
    font-size:28px;
    color: green;
    text-decoration:none;
}
.navLinks{
    display: flex;
    align-items:center;
}
.navLinks ul{
    display: flex;
    gap:4rem;
    justify-content: space-between;
    list-style-type: none;
}
.product-container{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:16px;
}

.product-preview{
    padding: 10px 16px;
    margin-top: 10rem;
    border-bottom: 1px solid #fafafa;
}
.product-preview:hover{
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.navCart{
    display: flex;
    align-items: center;
    gap:1rem;
}